
__pycache__/
*.py[cod]
*.swp
*.save

venv/

.env
.env.*

*.db
*.sqlite3

*.wav
*.mp3
*.txt

*.bin
*.pt
*.tar.gz
models/*.bin

.DS_Store
Thumbs.db

#for privacy purposes
storage/


whisper.cpp/

models/


#this is where broken files live:
broken_assistant.py
old_wake_word.py
test_porcupine.py
samples.py
train_model.py
llama.py
#old wake words
wake_word.py
wake_listener.py
wake_two.py
wake.py

