
__pycache__/
*.py[cod]
*.swp
*.save

venv/

.env
.env.*

*.db
*.sqlite3

*.wav
*.mp3
*.txt

*.bin
*.pt
*.tar.gz
models/*.bin

.DS_Store
Thumbs.db

#for privacy purposes
storage/


whisper.cpp/

models/
